package logic

import rg "github.com/meikural/rapidgo"

// This extends RouteBuilder (from rapidgo package)
func (rb *rg.RouteBuilder) Hello() rg.Chainable {
	return rb.Use(func(c *rg.Ctx) *rg.Ctx {
		c.Result = "Hello, RapidGo!"
		return c
	})
}